@import '~bulma/bulma.sass';
@import 'styles/buttons.scss';

$footer-color: #8b50ca;

/* optional reset for presentation */
* {
  font-family: 'KoHo', sans-serif;;
  text-decoration: none;
  box-sizing: border-box;

  body {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // padding: 0 10vw;
    position: relative;
    background: rgb(255, 255, 255);
    min-height: 100vh;
  }
}

.navbar {
  background-color: $footer-color;
  color: white;
  font-weight: bold;
}

.art-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.art-card-content {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-align: left;
  padding: 8px;
  width: 80%;
}
.artshow-container {
    margin: 30px auto;
    max-width: 75%;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
.loading-message {
  margin: 30px auto;
  max-width: 75%;
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,.8);
  text-align: center;
}
h1 {
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding: 20px;
}
h5 {
  font-weight: bold;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
  a {
    font-size: .7rem;
    color: #999;
    text-decoration: underline;
  }
}
img {
  max-width: 500px;
}

footer {
  padding: 50px;
  background-color: $footer-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}