@import '~bulma/bulma.sass';
@import 'styles/buttons.scss';

/* optional reset for presentation */
* {
  font-family: 'KoHo', sans-serif;;
  text-decoration: none;
  box-sizing: border-box;
}
.art-container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;

}
.art-card-content {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.artshow-container {

}
h1 {
  text-transform: uppercase;
  // font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
  a {
    font-size: .7rem;
    color: #999;
    text-decoration: underline;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10vw;
  background: #F4F4ED;
  min-height: 100vh;
  // background-image: linear-gradient(180deg, rgb(245, 137, 204) 0%, rgb(148, 233, 176) 100%);

  background-attachment: fixed;
}


footer {
  margin: 50px;
  padding: 10px;
  background-color: #5E239D;
  color: white;
}